* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin-left: 2rem;
    margin-right: 2rem;
}

#header {
    text-align: center;
}

.flexbox {
    display: flex;
    justify-content: center;
}

.red {
    height: 10rem;
    width: 15rem;
    border: 0.3rem solid rgb(0, 0, 0);
    background-color: red;
    margin-right: 1rem;
}

.blue {
    height: 10rem;
    width: 15rem;
    border: 0.3rem dashed yellow;
    background-color: blue;
    margin-right: 1rem;
}

.green {
    height: 10rem;
    width: 15rem;
    border: 0.3rem solid purple;
    background-color: yellowgreen;
}

.buttons {
    width: 11.9rem;
    background-color: rgb(213, 213, 213);
    cursor: pointer;
    border: none
}

.btn-2, .btn-3, .btn-4 {
    margin-left: .3rem;
}

.btn-5 {
    visibility: hidden;
    margin-left: .3rem;
}

.btn-6 {
    visibility: hidden;
    margin-left: .3rem;
}